/*Universal*/
ul {
    list-style-type: none;
    padding: 0;
}

/*Block Calculator*/
#blockCalc {
    background-color: rgb(200, 255, 255);
    border: dashed;
}
h2 {
    margin: 0;
}

#blockCalc > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

#blockCalc > ul > li {
    margin-right: 1rem;
}

#blockCalc h2 {
    text-align: center;
}

/*Ship Calculator*/
#shipCalc {
    background-color: rgb(255, 218, 254);
    border: dashed;
    margin: 1rem;
}

#shipSettings {
    display: flex;
    justify-content: center;
}

#subsystemTable {
    margin: auto;
}

#systemList {
    padding-left: 0;
}

.system {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: dotted;
}

.input {
    border: solid;
}

.output {
    grid-column: 2;
    border: dashed;
}

#shipCalc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
}


/*pop up message boxes*/
.popupBtn {
    position: relative;
}
.popupText {
    /*positions realitive to parent which should be popupBtn*/
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    
    transform: translateX(-50%);
    background-color: lightcyan;
    border: dotted;
    padding: 10%;

    visibility: hidden;
    /* Add transition for smooth animation of opacity and visibility */
    opacity: 0;
    transition: opacity 0.4s ease-in, visibility 0.4s ease-in; 
    /*Disables hover over popup text itself*/
    pointer-events: none;
}
.popupBtn:hover .popupText {
    visibility: visible;
    transition-delay: 0.75s;
    opacity: 1; 
}